* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  color: black;
}

th {
  font-size: 1.5vw;
}

img {
  height: 100px;
  width: 100px;
}

h1 {
  text-align: center;
  color: white;
}

table {
  border-collapse: collapse;
  margin-left: 22px;
  margin-top: 20px;
}
th, td {
  padding: 4px; 
  text-align: center; 
  color: white;
}
body{
  background-color: black;
}
th:first-child, td:first-child {
  border-left: 2px solid white; 
}

th:last-child, td:last-child {
  border-right: 2px solid white;
}

table thead tr {
  border-top: 2px solid white;
}
th{
  border-bottom: 2px solid white;
}
